* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    margin-left: 200px;
  }
  
  .header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    
    
  }
  
  
  .content {
   
    text-align: center;
    align-items: center;
    
    
    
  }
  
  
  
  .header-content {
    z-index: 2;
  }
  
  .header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
    font-family: 'Fjalla One', sans-serif;
  }
  
  .header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
  }

  .forma {
    border-radius: 5px;
    background:rgb(255, 255, 255);
    


  }
  
  

.card {

  height: 200px;
  width:385px
  
}
  
  .imgRedonda {
    width:90px;
    height:90px;
    border-radius:90px;
    border:5px solid rgb(255, 255, 255);
}


.title1 {
    color: rgb(255, 255, 255);
}
  
  @media (max-width: 960px) {
    .content {
      padding: 0 3rem 0 3rem;
    }

   

  }